table{
	border-collapse: separate;
	border-spacing: 30px 70px;
}

td{
	padding-right: 100px;
	padding-bottom: 50px;
}

.edu{
	border-right: 1px;
	border-style: solid;
	border-left: 0px;
	border-bottom: 0px;
	border-top: 0px;
}

img{
	position: absolute;
	top:50px;
	right: 50px;
	width: 100px;
	height: 150px;
	transform: rotate(-7deg);
	border: 7px solid white;
}

body{
	background-color: turquoise
}

p{

	word-wrap: word-break;
	max-width: 80%;
}